mysql.driver_class=com.mysql.cj.jdbc.Driver
mysql.url=jdbc:mysql://localhost:3306/file_storage
mysql.username=/login
mysql.password=/password

minio.endpoint=http://localhost:9000
minio.access_key=/login
minio.secret_key=/password
minio.bucket-name=/bucket-name

redis.host=localhost
redis.port=6379

MYSQL_ROOT_PASSWORD=/password
MYSQL_DATABASE=/database_name
MYSQL_USER=/login
MYSQL_PASSWORD=/password

MINIO_ROOT_USER=/login
MINIO_ROOT_PASSWORD=/password
